streamlit
redis
youtube_transcript_api
langchain
langchain-openai
langchain-community
langchain-core
langchain-deepseek
langchain-tavily
langgraph
openai
tavily-python
requests
beautifulsoup4
pydantic
python-dotenv
pymongo
python-dateutil
certifi
